.cart {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 48px 0;
}

.cartContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cartNoItems {
    margin: 48px auto 0;
    font-family: var(--font-family-semi-bold), sans-serif;
    font-size: var(--font-size-xl);
    line-height: 150%;
    color: var(--color-gray-500);
}
