.catalog {
  padding-top: 48px;
  padding-bottom: 48px;
  position: relative;
}

.title {
  font-family: var(--font-family-bold), sans-serif;
  font-size: var(--font-size-3xl);
  line-height: 156%;
  color: var(--color-gray-900);
}

.input {
  margin: 48px 0;
}

.showMore {
  margin: 0 auto;
}
